@import "css/bootstrap-theme.min.css";
@import "css/bootstrap.min.css";
@import "css/font-awesome.min.css";

body {
    background-color: #fff;
}

.mobile-nav-toggle-label {
    display: inline-block !important;
}

    /* FOOTER */
    .footer-spacer {
        display: none;
    }

    #footer-wrap {
        position: relative;
    }

    #copyright {
        padding: 20px;
    }

    #copyright p {
        float: none;
        text-align: center;
    }

    #copyright .text-left {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        max-width: 100%;
        text-align: center;
    }

    #copyright .text-right {
        width: 100%;
        float: none;
        max-width: 100%;
        text-align: center;
    }

    #copyright nav .menu {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    #copyright nav .menu li {
        float: none;
    }


    /* PDF VIEW */

    .iframe-container{
        padding-bottom: 60%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .iframe-container iframe,
    .iframe-container object,
    .iframe-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* HEADER COLOR */

    .navbar-inverse {
        background-image: linear-gradient(to bottom, #1c42b6 0, #1d15c9 100%);
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #ffffff;
        font-weight: bold;
    }