{% extends "home/index.html" %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% include "extensions/index_header.html" %}
</head>

{% autoescape off %}
<body>
 {% block content %}

        {% for ann_list in object_list %}
            <div class="blog-item-body">
                <h2 class="entry-title">
                    <a href="{{ ann_list.get_absolute_url }}">{{ ann_list.title }}</a>
                </h2>
                <ul class="list-inline blog-post-list">
                    <li><a href="#" class="hover-color"><i class="fa fa-calendar"></i> {{ann_list.date | date:'d M Y H:i' }}</a></li>
                    <li>|</li>
                    <li><a href="#" class="hover-color"><i class="fa fa-user"></i> {{ ann_list.author }}</a></li>
                    <li>|</li>
                </ul>
                <p>
                    {{ ann_list.content|truncatewords:50 | safe }}
                </p>
                <div class="readMoreBlog">
                    <a class="button default small" href="{{ ann_list.get_absolute_url }}">Read more</a>
                </div>
            </div>
            <hr>
        {% empty %}
           <p>Нет анонсов</p>
        {% endfor %}

    {% endblock %}
</body>
{% endautoescape %}
</html>
