
    <!--// OPEN #copyright //-->
    <footer id="copyright" class="">
        <div class="container">
            <div class="text-left">
                <strong>©2015 CC BAFE.</strong>
            </div>
{#            <div class="text-right">#}
{#                <ul class="social-icons standard">#}
{#                    <li class="twitter">#}
{#                        <a href="http://www.twitter.com/" target="_blank">#}
{#                            <i class="fa-twitter"></i>#}
{#                            <i class="fa-twitter"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="facebook">#}
{#                        <a href="http://www.facebook.com/" target="_blank">#}
{#                            <i class="fa-facebook"></i>#}
{#                            <i class="fa-facebook"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="skype">#}
{#                        <a href="skype:pmagal042" target="_blank">#}
{#                            <i class="fa-skype"></i>#}
{#                            <i class="fa-skype"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="linkedin">#}
{#                        <a href="http://www.linkedin.com/company/" target="_blank">#}
{#                            <i class="fa-linkedin"></i>#}
{#                            <i class="fa-linkedin"></i>#}
{#                        </a></li>#}
{#                    <li class="googleplus">#}
{#                        <a href="https://plus.google.com/" target="_blank">#}
{#                            <i class="fa-google-plus"></i>#}
{#                            <i class="fa-google-plus"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="pinterest"><a href="http://www.pinterest.com/" target="_blank"><i class="fa-pinterest"></i><i class="fa-pinterest"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
        </div><!--// CLOSE #copyright //-->
    </footer>
</div>