<footer>
    <div class="row">
        <!--========== Connect ===============-->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-left vertical-align hidden-sm hidden-xs">
            <a href="https://facebook.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-facebook"></i>
                </button>
            </a>
            <a href="https://twitter.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-twitter"></i>
                </button>
            </a>
            <a href="https://instagram.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-instagram"></i>
                </button>
            </a>
            <a href="https://flickr.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-flickr"></i>
                </button>
            </a>
        </div>
        <!--============= Legal =================-->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 vertical-align">
            <div class="visible-xs visible-sm">
                <a href="https://facebook.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-facebook"></i>
                </button>
            </a>
            <a href="https://twitter.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-twitter"></i>
                </button>
            </a>
            <a href="https://instagram.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-instagram"></i>
                </button>
            </a>
            <a href="https://flickr.com" target="_blank">
                <button type="button" class="btn btn-link text-gray">
                    <i class="fa fa-flickr"></i>
                </button>
            </a>
            </div>
            <h6 class="text-gray">
                CC BAFE
                <br>
                &copy; 2015. All rights reserved.
            </h6>

        </div>
        <!--============= Footer Links ==================-->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-right vertical-align hidden-sm hidden-xs">
            <h6 class="text-gray">
                <a href="main/about" class="text-gray">ABOUT</a>

                <a href="login" class="text-gray">LOG IN</a>

                <a href="sitemap" class="text-gray">SITEMAP</a>
            </h6>
        </div>
    </div>
</footer>