{% load sitetree %}
    {% sitetree_menu from "left_menu" include "trunk, topmenu" template "sitetree/treemenu/leftMenu.html" %}
<div class="col-sm-12">

      <p>&nbsp;</p>
      <p>
          <a href="http://eacea.ec.europa.eu/tempus/" target="_blank">
              <img style="float: left; margin-top: 3px; margin-bottom: 3px; margin-left: 7px; margin-right: 7px;" src="https://trainex24.de/infonex/public/files/a3874eu_flag_tempus_jpg_NEW.jpg" alt="" width="294" height="114">
          </a>
      </p>
      <p style="text-align: justify;">&nbsp;</p>
      <p style="text-align: justify;">Данный проект финансируется при поддержке Европейской Комиссии. Содержание данной публикации/материала является предметом ответственности автора. Европейская Комиссия не несет ответственности за дальнейшее использование содержащихся в них сведений.</p>
</div>